In [130]:
import requests
import defs
import pandas as pd

In [131]:
session = requests.Session()

In [132]:
instrument = "EUR_USD"
count = 10
granularity = "H1"

In [133]:
url = f"{defs.OANDA_URL}/instruments/{instrument}/candles"
url

'https://api-fxpractice.oanda.com/v3/instruments/EUR_USD/candles'

In [134]:
params = dict(
    count = count,
    granularity = granularity,
    price = "MBA"
)

In [135]:
params

{'count': 10, 'granularity': 'H1', 'price': 'MBA'}

In [136]:
response = session.get(url, params=params, headers=defs.SECURE_HEADER)

In [137]:
response.status_code

200

In [138]:
response.json()

{'instrument': 'EUR_USD',
 'granularity': 'H1',
 'candles': [{'complete': True,
   'volume': 3571,
   'time': '2024-09-18T10:00:00.000000000Z',
   'bid': {'o': '1.11373', 'h': '1.11380', 'l': '1.11289', 'c': '1.11293'},
   'mid': {'o': '1.11380', 'h': '1.11388', 'l': '1.11297', 'c': '1.11300'},
   'ask': {'o': '1.11388', 'h': '1.11396', 'l': '1.11305', 'c': '1.11308'}},
  {'complete': True,
   'volume': 3325,
   'time': '2024-09-18T11:00:00.000000000Z',
   'bid': {'o': '1.11291', 'h': '1.11295', 'l': '1.11217', 'c': '1.11237'},
   'mid': {'o': '1.11299', 'h': '1.11302', 'l': '1.11225', 'c': '1.11245'},
   'ask': {'o': '1.11307', 'h': '1.11309', 'l': '1.11232', 'c': '1.11253'}},
  {'complete': True,
   'volume': 4725,
   'time': '2024-09-18T12:00:00.000000000Z',
   'bid': {'o': '1.11239', 'h': '1.11279', 'l': '1.11172', 'c': '1.11215'},
   'mid': {'o': '1.11247', 'h': '1.11286', 'l': '1.11180', 'c': '1.11222'},
   'ask': {'o': '1.11255', 'h': '1.11295', 'l': '1.11187', 'c': '1.11230'}},
  {'complete': True,
   'volume': 5501,
   'time': '2024-09-18T13:00:00.000000000Z',
   'bid': {'o': '1.11216', 'h': '1.11391', 'l': '1.11216', 'c': '1.11346'},
   'mid': {'o': '1.11224', 'h': '1.11398', 'l': '1.11224', 'c': '1.11354'},
   'ask': {'o': '1.11232', 'h': '1.11406', 'l': '1.11231', 'c': '1.11362'}},
  {'complete': True,
   'volume': 6943,
   'time': '2024-09-18T14:00:00.000000000Z',
   'bid': {'o': '1.11348', 'h': '1.11355', 'l': '1.11074', 'c': '1.11174'},
   'mid': {'o': '1.11356', 'h': '1.11363', 'l': '1.11082', 'c': '1.11181'},
   'ask': {'o': '1.11364', 'h': '1.11371', 'l': '1.11090', 'c': '1.11188'}},
  {'complete': True,
   'volume': 5067,
   'time': '2024-09-18T15:00:00.000000000Z',
   'bid': {'o': '1.11175', 'h': '1.11213', 'l': '1.11111', 'c': '1.11150'},
   'mid': {'o': '1.11182', 'h': '1.11220', 'l': '1.11119', 'c': '1.11158'},
   'ask': {'o': '1.11190', 'h': '1.11228', 'l': '1.11127', 'c': '1.11166'}},
  {'complete': True,
   'volume': 3605,
   'time': '2024-09-18T16:00:00.000000000Z',
   'bid': {'o': '1.11151', 'h': '1.11254', 'l': '1.11148', 'c': '1.11235'},
   'mid': {'o': '1.11158', 'h': '1.11262', 'l': '1.11155', 'c': '1.11242'},
   'ask': {'o': '1.11166', 'h': '1.11271', 'l': '1.11162', 'c': '1.11250'}},
  {'complete': True,
   'volume': 4340,
   'time': '2024-09-18T17:00:00.000000000Z',
   'bid': {'o': '1.11237', 'h': '1.11298', 'l': '1.11164', 'c': '1.11233'},
   'mid': {'o': '1.11244', 'h': '1.11306', 'l': '1.11171', 'c': '1.11270'},
   'ask': {'o': '1.11251', 'h': '1.11314', 'l': '1.11178', 'c': '1.11308'}},
  {'complete': True,
   'volume': 26382,
   'time': '2024-09-18T18:00:00.000000000Z',
   'bid': {'o': '1.11234', 'h': '1.11884', 'l': '1.11230', 'c': '1.11481'},
   'mid': {'o': '1.11271', 'h': '1.11892', 'l': '1.11268', 'c': '1.11489'},
   'ask': {'o': '1.11308', 'h': '1.11900', 'l': '1.11307', 'c': '1.11497'}},
  {'complete': False,
   'volume': 2645,
   'time': '2024-09-18T19:00:00.000000000Z',
   'bid': {'o': '1.11485', 'h': '1.11485', 'l': '1.11329', 'c': '1.11345'},
   'mid': {'o': '1.11492', 'h': '1.11492', 'l': '1.11336', 'c': '1.11352'},
   'ask': {'o': '1.11500', 'h': '1.11500', 'l': '1.11344', 'c': '1.11360'}}]}

In [139]:
data = response.json()

In [140]:
data.keys()

dict_keys(['instrument', 'granularity', 'candles'])

In [141]:
len(data['candles'])

10

In [142]:
prices = ['mid','bid','ask']
ohlc = ['o','h','l','c']

In [143]:
for price in prices:
    for oh in ohlc:
        print(f"{price}_{oh}")

mid_o
mid_h
mid_l
mid_c
bid_o
bid_h
bid_l
bid_c
ask_o
ask_h
ask_l
ask_c

In [144]:
our_data = []
for candle in data['candles']:
    if candle['complete'] == False:
        continue
    new_dict ={}
    new_dict['time'] = candle['time']
    new_dict['volume'] = candle['volume']
    our_data.append(new_dict)
    for price in prices:
        for oh in ohlc:
            new_dict[f'{price}_{oh}']= candle[price][oh]
print(our_data[0])

{'time': '2024-09-18T10:00:00.000000000Z', 'volume': 3571, 'mid_o': '1.11380', 'mid_h': '1.11388', 'mid_l': '1.11297', 'mid_c': '1.11300', 'bid_o': '1.11373', 'bid_h': '1.11380', 'bid_l': '1.11289', 'bid_c': '1.11293', 'ask_o': '1.11388', 'ask_h': '1.11396', 'ask_l': '1.11305', 'ask_c': '1.11308'}

In [145]:
candles_df = pd.DataFrame.from_dict(our_data)
candles_df

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2024-09-18T10:00:00.000000000Z,3571,1.11380,1.11388,1.11297,1.11300,1.11373,1.11380,1.11289,1.11293,1.11388,1.11396,1.11305,1.11308
1,2024-09-18T11:00:00.000000000Z,3325,1.11299,1.11302,1.11225,1.11245,1.11291,1.11295,1.11217,1.11237,1.11307,1.11309,1.11232,1.11253
2,2024-09-18T12:00:00.000000000Z,4725,1.11247,1.11286,1.11180,1.11222,1.11239,1.11279,1.11172,1.11215,1.11255,1.11295,1.11187,1.11230
3,2024-09-18T13:00:00.000000000Z,5501,1.11224,1.11398,1.11224,1.11354,1.11216,1.11391,1.11216,1.11346,1.11232,1.11406,1.11231,1.11362
4,2024-09-18T14:00:00.000000000Z,6943,1.11356,1.11363,1.11082,1.11181,1.11348,1.11355,1.11074,1.11174,1.11364,1.11371,1.11090,1.11188
5,2024-09-18T15:00:00.000000000Z,5067,1.11182,1.11220,1.11119,1.11158,1.11175,1.11213,1.11111,1.11150,1.11190,1.11228,1.11127,1.11166
6,2024-09-18T16:00:00.000000000Z,3605,1.11158,1.11262,1.11155,1.11242,1.11151,1.11254,1.11148,1.11235,1.11166,1.11271,1.11162,1.11250
7,2024-09-18T17:00:00.000000000Z,4340,1.11244,1.11306,1.11171,1.11270,1.11237,1.11298,1.11164,1.11233,1.11251,1.11314,1.11178,1.11308
8,2024-09-18T18:00:00.000000000Z,26382,1.11271,1.11892,1.11268,1.11489,1.11234,1.11884,1.11230,1.11481,1.11308,1.11900,1.11307,1.11497

In [147]:
candles_df.to_pickle("EUR_USD_H1.pkl")