In [1]:
import requests
import defs
import pandas as pd

In [2]:
session = requests.Session()

In [3]:
instrument = "EUR_USD"
count = 10
granularity = "H1"

In [4]:
url = f"{defs.OANDA_URL}/instruments/{instrument}/candles"
url

'https://api-fxpractice.oanda.com/v3/instruments/EUR_USD/candles'

In [5]:
params = dict(
    count = count,
    granularity = granularity,
    price = "MBA"
)

In [6]:
params

{'count': 10, 'granularity': 'H1', 'price': 'MBA'}

In [7]:
response = session.get(url, params=params, headers=defs.SECURE_HEADER)

In [8]:
response.status_code

200

In [9]:
response.json()

{'instrument': 'EUR_USD',
 'granularity': 'H1',
 'candles': [{'complete': True,
   'volume': 3784,
   'time': '2024-09-25T06:00:00.000000000Z',
   'bid': {'o': '1.11949', 'h': '1.11950', 'l': '1.11862', 'c': '1.11899'},
   'mid': {'o': '1.11957', 'h': '1.11958', 'l': '1.11870', 'c': '1.11906'},
   'ask': {'o': '1.11965', 'h': '1.11966', 'l': '1.11877', 'c': '1.11914'}},
  {'complete': True,
   'volume': 5773,
   'time': '2024-09-25T07:00:00.000000000Z',
   'bid': {'o': '1.11899', 'h': '1.11958', 'l': '1.11851', 'c': '1.11911'},
   'mid': {'o': '1.11906', 'h': '1.11966', 'l': '1.11858', 'c': '1.11918'},
   'ask': {'o': '1.11913', 'h': '1.11973', 'l': '1.11866', 'c': '1.11926'}},
  {'complete': True,
   'volume': 5051,
   'time': '2024-09-25T08:00:00.000000000Z',
   'bid': {'o': '1.11906', 'h': '1.11948', 'l': '1.11814', 'c': '1.11841'},
   'mid': {'o': '1.11914', 'h': '1.11956', 'l': '1.11822', 'c': '1.11849'},
   'ask': {'o': '1.11923', 'h': '1.11963', 'l': '1.11829', 'c': '1.11857'}},
  {'complete': True,
   'volume': 4254,
   'time': '2024-09-25T09:00:00.000000000Z',
   'bid': {'o': '1.11841', 'h': '1.11871', 'l': '1.11774', 'c': '1.11825'},
   'mid': {'o': '1.11848', 'h': '1.11878', 'l': '1.11782', 'c': '1.11832'},
   'ask': {'o': '1.11856', 'h': '1.11886', 'l': '1.11790', 'c': '1.11840'}},
  {'complete': True,
   'volume': 4390,
   'time': '2024-09-25T10:00:00.000000000Z',
   'bid': {'o': '1.11826', 'h': '1.11883', 'l': '1.11802', 'c': '1.11864'},
   'mid': {'o': '1.11833', 'h': '1.11890', 'l': '1.11810', 'c': '1.11872'},
   'ask': {'o': '1.11840', 'h': '1.11897', 'l': '1.11817', 'c': '1.11879'}},
  {'complete': True,
   'volume': 3942,
   'time': '2024-09-25T11:00:00.000000000Z',
   'bid': {'o': '1.11866', 'h': '1.11966', 'l': '1.11825', 'c': '1.11951'},
   'mid': {'o': '1.11873', 'h': '1.11974', 'l': '1.11833', 'c': '1.11959'},
   'ask': {'o': '1.11880', 'h': '1.11982', 'l': '1.11841', 'c': '1.11967'}},
  {'complete': True,
   'volume': 6316,
   'time': '2024-09-25T12:00:00.000000000Z',
   'bid': {'o': '1.11952', 'h': '1.12071', 'l': '1.11910', 'c': '1.11969'},
   'mid': {'o': '1.11960', 'h': '1.12079', 'l': '1.11918', 'c': '1.11978'},
   'ask': {'o': '1.11967', 'h': '1.12087', 'l': '1.11926', 'c': '1.11986'}},
  {'complete': True,
   'volume': 8310,
   'time': '2024-09-25T13:00:00.000000000Z',
   'bid': {'o': '1.11971', 'h': '1.12133', 'l': '1.11945', 'c': '1.11945'},
   'mid': {'o': '1.11979', 'h': '1.12142', 'l': '1.11952', 'c': '1.11952'},
   'ask': {'o': '1.11987', 'h': '1.12150', 'l': '1.11960', 'c': '1.11960'}},
  {'complete': True,
   'volume': 7100,
   'time': '2024-09-25T14:00:00.000000000Z',
   'bid': {'o': '1.11945', 'h': '1.11948', 'l': '1.11645', 'c': '1.11718'},
   'mid': {'o': '1.11953', 'h': '1.11956', 'l': '1.11654', 'c': '1.11726'},
   'ask': {'o': '1.11961', 'h': '1.11964', 'l': '1.11661', 'c': '1.11734'}},
  {'complete': False,
   'volume': 5632,
   'time': '2024-09-25T15:00:00.000000000Z',
   'bid': {'o': '1.11720', 'h': '1.11745', 'l': '1.11523', 'c': '1.11543'},
   'mid': {'o': '1.11728', 'h': '1.11754', 'l': '1.11530', 'c': '1.11552'},
   'ask': {'o': '1.11735', 'h': '1.11762', 'l': '1.11538', 'c': '1.11560'}}]}

In [10]:
data = response.json()

In [11]:
data.keys()

dict_keys(['instrument', 'granularity', 'candles'])

In [12]:
len(data['candles'])

10

In [13]:
prices = ['mid','bid','ask']
ohlc = ['o','h','l','c']

In [14]:
for price in prices:
    for oh in ohlc:
        print(f"{price}_{oh}")

mid_o
mid_h
mid_l
mid_c
bid_o
bid_h
bid_l
bid_c
ask_o
ask_h
ask_l
ask_c

In [15]:
our_data = []
for candle in data['candles']:
    if candle['complete'] == False:
        continue
    new_dict ={}
    new_dict['time'] = candle['time']
    new_dict['volume'] = candle['volume']
    our_data.append(new_dict)
    for price in prices:
        for oh in ohlc:
            new_dict[f'{price}_{oh}']= candle[price][oh]
print(our_data[0])

{'time': '2024-09-25T06:00:00.000000000Z', 'volume': 3784, 'mid_o': '1.11957', 'mid_h': '1.11958', 'mid_l': '1.11870', 'mid_c': '1.11906', 'bid_o': '1.11949', 'bid_h': '1.11950', 'bid_l': '1.11862', 'bid_c': '1.11899', 'ask_o': '1.11965', 'ask_h': '1.11966', 'ask_l': '1.11877', 'ask_c': '1.11914'}

In [16]:
candles_df = pd.DataFrame.from_dict(our_data)
candles_df

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2024-09-25T06:00:00.000000000Z,3784,1.11957,1.11958,1.11870,1.11906,1.11949,1.11950,1.11862,1.11899,1.11965,1.11966,1.11877,1.11914
1,2024-09-25T07:00:00.000000000Z,5773,1.11906,1.11966,1.11858,1.11918,1.11899,1.11958,1.11851,1.11911,1.11913,1.11973,1.11866,1.11926
2,2024-09-25T08:00:00.000000000Z,5051,1.11914,1.11956,1.11822,1.11849,1.11906,1.11948,1.11814,1.11841,1.11923,1.11963,1.11829,1.11857
3,2024-09-25T09:00:00.000000000Z,4254,1.11848,1.11878,1.11782,1.11832,1.11841,1.11871,1.11774,1.11825,1.11856,1.11886,1.11790,1.11840
4,2024-09-25T10:00:00.000000000Z,4390,1.11833,1.11890,1.11810,1.11872,1.11826,1.11883,1.11802,1.11864,1.11840,1.11897,1.11817,1.11879
5,2024-09-25T11:00:00.000000000Z,3942,1.11873,1.11974,1.11833,1.11959,1.11866,1.11966,1.11825,1.11951,1.11880,1.11982,1.11841,1.11967
6,2024-09-25T12:00:00.000000000Z,6316,1.11960,1.12079,1.11918,1.11978,1.11952,1.12071,1.11910,1.11969,1.11967,1.12087,1.11926,1.11986
7,2024-09-25T13:00:00.000000000Z,8310,1.11979,1.12142,1.11952,1.11952,1.11971,1.12133,1.11945,1.11945,1.11987,1.12150,1.11960,1.11960
8,2024-09-25T14:00:00.000000000Z,7100,1.11953,1.11956,1.11654,1.11726,1.11945,1.11948,1.11645,1.11718,1.11961,1.11964,1.11661,1.11734

In [17]:
candles_df.to_pickle("EUR_USD_H1.pkl")

this code below is for pyhton education

In [18]:
class Dog():
    def __init__(self,name, age) -> None:
        print("hello")
        self.name = name 
        self.age = age

    def __rer__(self):
      return str(vars(self))
    

    @classmethod
    def cls_woof(cls):
     print("wood")

In [19]:
d = Dog("phamtom",12)
e = Dog("bobo",2)

hello
hello

In [20]:
str(vars(d))

"{'name': 'phamtom', 'age': 12}"

In [21]:
Dog.cls_woof()

wood